<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <title>Century 21 Real Estate</title>
  </head>
  <body>
    <nav id="navbar">
    <img src="https://seeklogo.com/images/C/Century_21-logo-78521142FF-seeklogo.com.png">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="sign-up">Signup</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="footer">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
<router-outlet></router-outlet>