<body>
    <footer class="page-footer">
	<div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <h6 ><b>CONTACT</b></h6>
                    <p>Yuvaraj M K
                    <br/>yuvarajyuvi472@gmail.com
                    <br/>+91 8526238276</p><br/>
	    </div>	
            <div class="col-lg-4 col-md-4 col-sm-12">
		<br/>
                    <p>Ponnarasu A
                    <br/>ajithponnarasu999@gmail.com
                    <br/>+91 9629975031</p>
	    </div>
	</div>
	
        <div style="text-align:center">Developed by yuvi and ponnarasu</div>
    </footer>
</body>
