@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* start: global styles */
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

.images{
   
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 450px;
  border-radius: 10px;
    }

* {
    outline: none;
}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}
.property-details{
    text-align: center;
    text-shadow: 1px 1px #ff0000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

